<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue使用jsonp生成的百度下拉列表</title>
    <style>
        .gray {
            background-color: #ccc;
            color: #fff;
        }
    </style>
</head>

<body>
    <div id="box">
        <input type="text" v-model="t1" @keyup="get($event)" @keydown.down="changeDown()" @keyup.up="changeUp()">
        <ul>
            <li v-for=" (value,index) of myData " :class="{gray:index === now}">{{value}}</li>
        </ul>
        <p v-show="myData.length===0 ">暂无数据</p>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.3.2/vue.js "></script>
    <!--新版本的vue-resource会报错-->
    <script src="vue-resource.js "></script>
    <script>
        new Vue({
            el: '#box',
            data: {
                myData: [],
                t1: '',
                now: 0
            },
            methods: {
                get: function (ev) {
                    // 如果是向上按键和向下按键就不执行此搜索函数
                    if (ev.keyCode === 38 || ev.keyCode === 40) {
                        return;
                    }
                    // 如果是enter键，就打开一个百度搜索页的窗口
                    if (ev.keyCode === 13) {
                        window.open('https://www.baidu.com/s?wd=' + this.t1);
                    }
                    // 使用百度搜索接口
                    this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?', {
                        wd: this.t1
                    }, {
                            jsonp: 'cb'
                        }).then(function (res) {
                            this.myData = res.data.s;
                        }, function (res) {
                            alert(res.status)
                        })
                },
                changeDown: function () {
                    this.now++;
                    // 位于列表最后一项时，再向下按就回到第一项
                    if (this.now === this.myData.length) {
                        this.now = 0;
                    }
                    // 绑定列表的文字和输入框的文字
                    this.t1 = this.myData[this.now];
                },
                changeUp: function () {
                    this.now--;
                    // 当位于列表第一项时，再向上按，就回到最后一项
                    if (this.now === -1) {
                        this.now = this.myData.length - 1;
                    }
                    this.t1 = this.myData[this.now];
                }
            }
        })
    </script>
</body>

</html>