<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>基于Vue的todo列表</title>
    <style>
        .finished {
            text-decoration: line-through;
            color: green;
        }

        body {
            width: 500px;
            margin: 0 auto;
            font-family: '微软雅黑';
        }

        li {
            font-size: 20px;
            color: red;
        }

        input {
            width: 200px;
            height: 30px;
            border-radius: 3px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1>{{title}}</h1>
        <input v-model='message' v-on:keyup.enter="addNew">
        <ol>
            <li v-for="item in items" v-bind:class="{finished:item.isFinished}" v-on:click="toggleFinished(item)">{{item.label}}</li>
        </ol>
    </div>
    <script src="../vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                title: '今天要做哪些事？',
                items: JSON.parse(localStorage.getItem('items')) || [],
                message: ''
            },
            methods: {
                toggleFinished: function (item) {
                    item.isFinished = !item.isFinished;
                },
                addNew: function () {
                    this.items.push({ label: this.message, isFinished: false });
                    this.message = '';
                }

            },
            watch: {
                deep: true,
                items: {
                    handler: function (items) {
                        window.localStorage.setItem('items', JSON.stringify(this.items));
                    }
                }
            }
        })
    </script>
</body>

</html>